server:
  port: 8090

spring:
  application:
    name: Products API
  datasource:
    url: jdbc:h2:mem:products
    username: sa
    password: root
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-db